__pycache__/
public_metadata_pipeline/public_data_pipeline_output/
public_metadata_pipeline/build_host_pipeline_output/
database/*
!database/final.cluster.ref.fasta
*.jar
*.joblib
*.h5

# Build artifacts
build/
dist/
*.spec

# Logs
*.log

# Test output
test_output/

# Search results cache
search_results/GSA_Results/0_web_cache/
search_results/GSA_Results/1_xls_cache/

# PyInstaller
metadata_gui/build/
metadata_gui/dist/
metadata_gui/*.spec
